* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

.dashboard {
  padding: 50px 10px 50px 50px;
}

.dashboard__title {
  margin-bottom: 50px;

  font-size: 2em;
}

.dashboard__tools {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Input styles */
.selector {
  margin-bottom: 50px;
}

.selector__label {
  display: block;
  margin-bottom: 15px;

  font-size: 1em;
}

.selector__field,
.threshold__field {
  height: 30px;
  padding: 0 15px 0 5px;

  font-size: 0.875em;
  background: #FFF;
}

/* <DataTable> styles */
.no-data__text {
  font-size: 1.2em;
}

.datatable {
  width: 100%;
  border-collapse: collapse;

  text-align: left;
  font-size: 0.875em;
}

.datatable__header{
  width: 25%;
  
  font-weight: normal;
  text-transform: capitalize;
  color: #00bfe6;
}

.datatable__row:nth-child(odd) {
  background: #f2f2f2;
}

.datatable__header, 
.datatable__cell {
  padding: 7px;
  border: 1px solid #f1f1f1;
  
}