body {
  /* TODO: Google fonts */
  font-family: arial, sans-serif;
  font-size: 100%;
}

.dashboard {
  padding: 50px 10px 50px 50px;
}

.dashboard__title {
  margin-bottom: 50px;

  font-size: 2em;
}

.dashboard__tools {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.selector {
  margin-bottom: 50px;
}

.selector__label {
  display: block;
  margin-bottom: 15px;

  font-size: 1em;
}

.selector__field,
.threshold__field {
  height: 30px;
  padding: 0 15px 0 5px;

  font-size: 0.875em;
  background: #FFF;
}

.datatable {
  width: 100%;
  
  text-align: left;
}

.datatable__collumn {
  width: 25%;
}